<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Day :</label>
    <input type="text" class="form-control" formControlName="day" required />
  </div>
  <div class="form-group">
    <label>Activities :</label>
    <input
      type="text"
      class="form-control"
      formControlName="activities"
      required
    />
  </div>
  <button
    type="submit"
    [disabled]="!todoForm.valid"
    class="btn btn-outline-success"
  >
    Submit
  </button>
</form>
