<div class="pt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Day</th>
        <th scope="col">Activities</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ todo.day }}</td>
        <td>{{ todo.activities }}</td>
        <td>
          <button class="btn btn-secondary" (click)="onSelectUpdate(i)">
            Update
          </button>
          &nbsp;
          <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
